.video-box {
    position: relative;
    width: 400px;
    height: 300px;

    video {
        height: 100%;
        width: 100%;
    }

    .video-controls {
        position: absolute;
        height: 54px;
        width: 100%;
        bottom: 0;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8));
    }
}

.video-controls-btn {
    position: absolute;
    left: 10px;
    i {
        font-size: 25px;
        color: #fff;
    }
}

.video-controls-bar {
    position: absolute;
    left: 45px;
    background: #d8d8d8;
    right: 85px;
    height: 4px;
    top: 11px;
    .current-point {
        left: 0;
        position: absolute;
        top: -5px;
        width: 10px;
        height: 10px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    	border: solid 0.5px #cccccc;
    }

    .current-bar {
        width: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 4px;
        background: #29c192;
    }
}

.video-controls-time {
    position: absolute;
    right: 30px;
    top: 3px;
}

.fullscreen {
    position: absolute;
    right: 5px;
}
